USE [master]
GO
/****** Object:  Database [BAIGIUXE]    Script Date: 10/2/2025 9:49:12 AM ******/
CREATE DATABASE [BAIGIUXE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testdoxe2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\baigiuxe.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testdoxe2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\baigiuxe.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAIGIUXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAIGIUXE]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenThongTinVeLuot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GenThongTinVeLuot] (
    @MaVeLuot INT,
    @MaNhom INT,
    @MaThe VARCHAR(20),
    @ChuXe NVARCHAR(100),
    @DienThoai VARCHAR(15),
    @DiaChi NVARCHAR(200),
    @Email VARCHAR(100),
    @ThoiGianVao DATETIME2,
    @ThoiGianRa DATETIME2,
    @BienSo VARCHAR(20),
    @NhanHieu NVARCHAR(50),
    @MaLoaiXe INT,
    @TongTien INT,
    @TrangThai NVARCHAR(20),
    @MaNhanVien INT,
    @MayTinhXuLy NVARCHAR(50),
    @MaVeThang INT,
    @AnhVaoPath NVARCHAR(255),
    @AnhRaPath NVARCHAR(255)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN CONCAT(
        N'[Vé lượt] Mã vé: ', @MaVeLuot,
        N' | Mã nhóm: ', @MaNhom,
        N' | Mã thẻ: ', @MaThe,
        N' | Chủ xe: ', @ChuXe,
        N' | Điện thoại: ', @DienThoai,
        N' | Địa chỉ: ', @DiaChi,
        N' | Email: ', @Email,
        N' | Biển số: ', @BienSo,
        N' | Nhãn hiệu: ', @NhanHieu,
        N' | Mã loại xe: ', @MaLoaiXe,
        N' | Thời gian vào: ', FORMAT(@ThoiGianVao, 'yyyy-MM-dd HH:mm:ss'),
        N' | Thời gian ra: ', ISNULL(FORMAT(@ThoiGianRa, 'yyyy-MM-dd HH:mm:ss'), N'Chưa ra'),
        N' | Tổng tiền: ', FORMAT(@TongTien, '#,##0 VNĐ'),
        N' | Trạng thái: ', @TrangThai,
        N' | Máy tính xử lý: ', @MayTinhXuLy,
        N' | Mã nhân viên xử lý: ', @MaNhanVien,
        N' | Mã vé tháng: ', @MaVeThang,
        N' | Ảnh vào: ', @AnhVaoPath,
        N' | Ảnh ra: ', @AnhRaPath
    );
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenThongTinVeThang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GenThongTinVeThang] (
    @MaVeThang INT,
    @MaNhom INT,
    @MaThe VARCHAR(20),
    @ChuXe NVARCHAR(100),
    @DienThoai VARCHAR(15),
    @DiaChi NVARCHAR(200),
    @Email VARCHAR(100),
    @NgayKichHoat DATETIME2,
    @NgayHetHan DATETIME2,
    @BienSo VARCHAR(20),
    @NhanHieu VARCHAR(20),
    @MaLoaiXe INT,
    @GiaVe INT,
    @GhiChu NVARCHAR(255),
    @MaNhanVien INT,
    @MayTinhXuLy NVARCHAR(50)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN CONCAT(
        N'Mã vé: ', @MaVeThang, N', Mã nhóm: ', @MaNhom, N', Mã thẻ: ', @MaThe,
        N', Chủ xe: ', @ChuXe, N', Điện thoại: ', @DienThoai, N', Địa chỉ: ', @DiaChi,
        N', Email: ', @Email, N', Ngày kích hoạt: ', FORMAT(@NgayKichHoat, 'yyyy-MM-dd'),
        N', Ngày hết hạn: ', FORMAT(@NgayHetHan, 'yyyy-MM-dd'), N', Biển số: ', @BienSo,
        N', Nhãn hiệu: ', @NhanHieu, N', Loại xe: ', @MaLoaiXe, N', Giá vé: ', FORMAT(@GiaVe, 'N2'),
        N', Ghi chú: ', @GhiChu, N', Máy xử lý: ', @MayTinhXuLy, N', Nhân viên xử lý: ', @MaNhanVien
    );
END
GO
/****** Object:  Table [dbo].[VeThang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeThang](
	[MaVeThang] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [int] NULL,
	[MaThe] [varchar](20) NULL,
	[ChuXe] [nvarchar](100) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[NgayKichHoat] [datetime2](7) NOT NULL,
	[NgayHetHan] [datetime2](7) NULL,
	[BienSo] [varchar](20) NULL,
	[NhanHieu] [varchar](20) NULL,
	[MaLoaiXe] [int] NULL,
	[GiaVe] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaNhanVien] [int] NULL,
	[MayTinhXuLy] [nvarchar](50) NULL,
	[LoaiVe] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVeThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeLuot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeLuot](
	[MaVeLuot] [int] IDENTITY(1,1) NOT NULL,
	[MaThe] [varchar](20) NULL,
	[MaNhom] [int] NULL,
	[ThoiGianVao] [datetime2](7) NOT NULL,
	[ThoiGianRa] [datetime2](7) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MaNhanVien] [int] NULL,
	[MayTinhXuLy] [nvarchar](50) NULL,
	[CachTinhTien] [int] NULL,
	[TongTien] [int] NULL,
	[BienSo] [varchar](20) NULL,
	[MaLoaiXe] [int] NULL,
	[LoaiVe] [nvarchar](20) NULL,
	[LaVeThang] [bit] NULL,
	[MaVeThang] [int] NULL,
	[AnhVaoPath] [nvarchar](255) NULL,
	[AnhRaPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVeLuot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[ThongTinKhac] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ThongKeChiTiet]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================== H.1. Bảng thống kê chi tiết
CREATE   VIEW [dbo].[vw_ThongKeChiTiet] AS
SELECT
    vl.MaThe,
    vl.BienSo,
    ISNULL(vt.ChuXe, N'Vé Lượt') AS ChuXe,
    lx.TenLoaiXe AS TenLoaiXe,
    ISNULL(n.TenNhom, N'Vé lượt') AS TenNhom,
    vl.LoaiVe,
    vl.TrangThai,
    vl.ThoiGianVao,
    vl.ThoiGianRa,
    vl.TongTien
FROM VeLuot vl
LEFT JOIN LoaiXe lx ON vl.MaLoaiXe = lx.MaLoaiXe
LEFT JOIN Nhom n ON vl.MaNhom = n.MaNhom
LEFT JOIN VeThang vt ON vl.MaThe = vt.MaThe
GO
/****** Object:  Table [dbo].[CauHinhHeThong]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHeThong](
	[TenCongTy] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TienPhatMatThe] [int] NULL,
	[SoLuongXeToiDa] [int] NULL,
	[HanMucVeThang] [int] NULL,
	[HinhThucThuPhi] [int] NULL,
	[XuLyVeThangHetHan] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNhomNhanVien] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[MaThe] [varchar](20) NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NhanVien_MaThe] UNIQUE NONCLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyDangNhap]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyDangNhap](
	[MaNhatKyDangNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[ThoiGianDangNhap] [datetime2](7) NOT NULL,
	[ThoiGianDangXuat] [datetime2](7) NULL,
	[TongThoiGian]  AS (datediff(minute,[ThoiGianDangNhap],isnull([ThoiGianDangXuat],getdate()))),
PRIMARY KEY CLUSTERED 
(
	[MaNhatKyDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyDieuChinhVeLuot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyDieuChinhVeLuot](
	[MaDieuChinh] [int] IDENTITY(1,1) NOT NULL,
	[MaVeLuot] [int] NOT NULL,
	[GiaVeCu] [int] NOT NULL,
	[GiaVeMoi] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[MayTinhXuLy] [nvarchar](50) NULL,
	[ThoiGianXuLy] [datetime2](7) NULL,
	[MaThe] [varchar](20) NULL,
	[BienSo] [varchar](20) NULL,
	[LoaiXe] [nvarchar](20) NULL,
	[LoaiVe] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDieuChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyXuLyVeLuot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyXuLyVeLuot](
	[MaNhatKyXuLyVeLuot] [int] IDENTITY(1,1) NOT NULL,
	[MaVeLuot] [int] NULL,
	[HanhDong] [nvarchar](20) NOT NULL,
	[MaNhanVien] [int] NULL,
	[MayTinhXuLy] [nvarchar](50) NULL,
	[NoiDungCu] [nvarchar](500) NULL,
	[NoiDungMoi] [nvarchar](500) NULL,
	[ThoiGianXuLy] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKyXuLyVeLuot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyXuLyVeThang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyXuLyVeThang](
	[MaNhatKyXuLyVeThang] [int] IDENTITY(1,1) NOT NULL,
	[MaVeThang] [int] NOT NULL,
	[HanhDong] [nvarchar](20) NOT NULL,
	[MaNhanVien] [int] NULL,
	[MayTinhXuLy] [nvarchar](50) NULL,
	[NoiDungCu] [nvarchar](500) NULL,
	[NoiDungMoi] [nvarchar](500) NULL,
	[ThoiGianXuLy] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKyXuLyVeThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNhanVien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNhanVien](
	[MaNhomNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomNhanVien] [nvarchar](50) NOT NULL,
	[SoLuongNhanVien] [int] NOT NULL,
	[ThongTinKhac] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTienCongVan]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTienCongVan](
	[MaCongVan] [int] IDENTITY(1,1) NOT NULL,
	[ThuTienTruoc] [bit] NULL,
	[DemTu] [tinyint] NULL,
	[DemDen] [tinyint] NULL,
	[GioGiaoNgayDem] [tinyint] NULL,
	[GiaThuong] [int] NULL,
	[GiaDem] [int] NULL,
	[GiaNgayDem] [int] NULL,
	[GiaPhuThu] [int] NULL,
	[PhuThuTu] [tinyint] NULL,
	[PhuThuDen] [tinyint] NULL,
	[MaLoaiXe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongVan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTienLuyTien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTienLuyTien](
	[MaLuyTien] [int] IDENTITY(1,1) NOT NULL,
	[Moc1] [tinyint] NULL,
	[GiaMoc1] [int] NULL,
	[Moc2] [tinyint] NULL,
	[GiaMoc2] [int] NULL,
	[GiaVuotMoc] [int] NULL,
	[ChuKy] [tinyint] NULL,
	[CongMoc] [tinyint] NULL,
	[MaLoaiXe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuyTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTienThang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTienThang](
	[MaTinhTienThang] [int] IDENTITY(1,1) NOT NULL,
	[GiaVeThang] [int] NOT NULL,
	[MaLoaiXe] [int] NULL,
	[PhutMienPhi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinhTienThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[The]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[The](
	[MaThe] [varchar](20) NOT NULL,
	[SoThuTu] [int] NULL,
	[LoaiThe] [nvarchar](10) NULL,
	[NgayTaoThe] [datetime2](7) NOT NULL,
	[NgayCapNhatThe] [datetime2](7) NOT NULL,
	[TrangThaiThe] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoaiXe] ADD  DEFAULT (N'Sử dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhatKyDangNhap] ADD  DEFAULT (getdate()) FOR [ThoiGianDangNhap]
GO
ALTER TABLE [dbo].[NhatKyDieuChinhVeLuot] ADD  DEFAULT (getdate()) FOR [ThoiGianXuLy]
GO
ALTER TABLE [dbo].[NhatKyXuLyVeLuot] ADD  DEFAULT (getdate()) FOR [ThoiGianXuLy]
GO
ALTER TABLE [dbo].[NhatKyXuLyVeThang] ADD  DEFAULT (getdate()) FOR [ThoiGianXuLy]
GO
ALTER TABLE [dbo].[NhomNhanVien] ADD  DEFAULT ((0)) FOR [SoLuongNhanVien]
GO
ALTER TABLE [dbo].[TinhTienCongVan] ADD  DEFAULT ((0)) FOR [ThuTienTruoc]
GO
ALTER TABLE [dbo].[The] ADD  DEFAULT (N'Chung') FOR [LoaiThe]
GO
ALTER TABLE [dbo].[The] ADD  DEFAULT (N'Sử dụng') FOR [TrangThaiThe]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT (NULL) FOR [MaNhom]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT (getdate()) FOR [ThoiGianVao]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT (NULL) FOR [ThoiGianRa]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT (N'Chưa ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT ((0)) FOR [CachTinhTien]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT ((1)) FOR [MaLoaiXe]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT (N'Vé lượt') FOR [LoaiVe]
GO
ALTER TABLE [dbo].[VeLuot] ADD  DEFAULT ((0)) FOR [LaVeThang]
GO
ALTER TABLE [dbo].[VeThang] ADD  DEFAULT (getdate()) FOR [NgayKichHoat]
GO
ALTER TABLE [dbo].[VeThang] ADD  DEFAULT (dateadd(month,(1),getdate())) FOR [NgayHetHan]
GO
ALTER TABLE [dbo].[VeThang] ADD  DEFAULT (N'Vé tháng') FOR [LoaiVe]
GO
ALTER TABLE [dbo].[VeThang] ADD  DEFAULT (N'Sử dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaNhomNhanVien])
REFERENCES [dbo].[NhomNhanVien] ([MaNhomNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[The] ([MaThe])
GO
ALTER TABLE [dbo].[NhatKyDangNhap]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhatKyDieuChinhVeLuot]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhatKyDieuChinhVeLuot]  WITH CHECK ADD FOREIGN KEY([MaVeLuot])
REFERENCES [dbo].[VeLuot] ([MaVeLuot])
GO
ALTER TABLE [dbo].[NhatKyXuLyVeThang]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TinhTienCongVan]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[TinhTienLuyTien]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[TinhTienThang]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[VeLuot]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[VeLuot]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[Nhom] ([MaNhom])
GO
ALTER TABLE [dbo].[VeThang]  WITH CHECK ADD FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[VeThang]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[Nhom] ([MaNhom])
GO
ALTER TABLE [dbo].[VeThang]  WITH CHECK ADD FOREIGN KEY([MaThe])
REFERENCES [dbo].[The] ([MaThe])
GO
ALTER TABLE [dbo].[The]  WITH CHECK ADD CHECK  (([TrangThaiThe]=N'Mất thẻ' OR [TrangThaiThe]=N'Không sử dụng' OR [TrangThaiThe]=N'Sử dụng'))
GO
ALTER TABLE [dbo].[VeLuot]  WITH CHECK ADD CHECK  (([LoaiVe]=N'Vé tháng' OR [LoaiVe]=N'Vé lượt'))
GO
ALTER TABLE [dbo].[VeLuot]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[VeThang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Mất thẻ' OR [TrangThai]=N'Hết hạn' OR [TrangThai]=N'Sử dụng'))
GO
/****** Object:  StoredProcedure [dbo].[sp_bangdemthe]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp đếm thẻ
Create   procedure [dbo].[sp_bangdemthe]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT N'Tất cả' AS N'Thống kê', COUNT(*) AS N'Số lượng'
	FROM The
	UNION ALL
	SELECT N'Sử dụng', COUNT(*) FROM The WHERE TrangThaiThe = N'Sử dụng'
	UNION ALL
	SELECT N'Không sử dụng', COUNT(*) FROM The WHERE TrangThaiThe = N'Không sử dụng'
	UNION ALL
	SELECT N'Mất thẻ', COUNT(*) FROM The WHERE TrangThaiThe = N'Mất thẻ';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BangDienGiai]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================== H.2. Bảng diễn giải thống kê
CREATE   PROCEDURE [dbo].[sp_BangDienGiai]
    @LoaiXe NVARCHAR(50) = NULL,
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL,
	@TrangThai NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    -- CTE cho Vé lượt
    ;WITH VeLuotFiltered AS (
        SELECT vl.*, lx.TenLoaiXe
        FROM VeLuot vl
        JOIN LoaiXe lx ON vl.MaLoaiXe = lx.MaLoaiXe
        WHERE vl.ThoiGianVao BETWEEN @tgTu AND @tgDen
          AND (@LoaiXe IS NULL OR lx.TenLoaiXe = @LoaiXe)
		  AND (@TrangThai IS NULL OR vl.TrangThai = @TrangThai)
    ),
    -- CTE cho Vé tháng
    VeThangFiltered AS (
        SELECT vt.*, lx.TenLoaiXe
        FROM VeThang vt
        JOIN LoaiXe lx ON vt.MaLoaiXe = lx.MaLoaiXe
        WHERE vt.NgayKichHoat BETWEEN @tgTu AND @tgDen
          AND (@LoaiXe IS NULL OR lx.TenLoaiXe = @LoaiXe)
    )

    -- Gộp kết quả ra 1 bảng duy nhất
    SELECT  [Diễn giải], [Số lượng], [Tổng tiền]FROM (
        SELECT N'Vé lượt' AS [Diễn giải], NULL AS [Số lượng], NULL AS [Tổng tiền], 1 AS ThuTu
        UNION ALL
        SELECT N'- ' + TenLoaiXe, COUNT(*), SUM(TongTien), 2
        FROM VeLuotFiltered
        GROUP BY TenLoaiXe
        UNION ALL
        SELECT N'Tổng:', COUNT(*), SUM(TongTien), 3
        FROM VeLuotFiltered
        UNION ALL
        SELECT N'Vé tháng', NULL, NULL, 4
        UNION ALL
        SELECT N'- ' + TenLoaiXe, COUNT(*), SUM(GiaVe), 5
        FROM VeThangFiltered
        GROUP BY TenLoaiXe
        UNION ALL
        SELECT N'Tổng:', COUNT(*), SUM(GiaVe), 6
        FROM VeThangFiltered
    ) AS TongHop
    ORDER BY ThuTu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_banghienthe]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp hiện bảng thẻ
Create   procedure [dbo].[sp_banghienthe]
AS
BEGIN
	select 
	ROW_NUMBER() OVER (ORDER BY NgayTaoThe) AS STT,
	MaThe AS N'Mã thẻ', 
	SoThuTu AS N'Số thứ tự', 
	LoaiThe as N'Loại thẻ', 
	NgayTaoThe as N'Ngày tạo thẻ', 
	NgayCapNhatThe as N'Ngày cập nhật', 
	TrangThaiThe as N'Trạng thái thẻ'
	from The
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bangloaixe]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp bảng loai xe
Create   procedure [dbo].[sp_bangloaixe]
AS
BEGIN
	Select MaLoaiXe,
	TenLoaiXe AS N'Tên loại xe',
	TrangThai AS N'Trạng thái'
	from Loaixe 
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_bangnhanvien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp bảng nhân viên
CREATE   PROCEDURE [dbo].[sp_bangnhanvien]
    @TimKiem NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        nv.MaNhanVien,
        nv.HoTen AS N'Họ tên',
        nv.TenDangNhap AS N'Tài khoản',
        nv.MatKhau AS N'Mật khẩu',
        nv.MaThe AS N'Mã thẻ',
		nv.TrangThai AS N'Trạng thái',
        nv.GhiChu AS N'Ghi chú',
        nhom.TenNhomNhanVien AS N'Nhóm'
    FROM
        dbo.NhanVien nv
    LEFT JOIN
        dbo.NhomNhanVien nhom ON nv.MaNhomNhanVien = nhom.MaNhomNhanVien
    WHERE
        nv.HoTen LIKE N'%' + @TimKiem + N'%' OR @TimKiem IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bangnhatkyveluot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- procedure hiện nhật ký vé lượt
create   procedure [dbo].[sp_bangnhatkyveluot]
	@tgTu DATETIME2 = NULL,
	@tgDen DATETIME2 = NULL,
	@HanhDong NVarchar(20) = N'Tất cả hành động'
AS
BEGIN
	SET NOCOUNT ON;
	SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

	select 
	ROW_NUMBER() OVER (ORDER BY nkvl.ThoiGianXuLy DESC) AS STT,
	HanhDong as N'Hành động',
	nv.HoTen N'Nhân viên xử lý',
	ThoiGianXuLy as N'Thời gian xử lý',
	nkvl.MayTinhXuLy as N'Máy tính xử lý',
	NoiDungCu as N'Nội dung cũ',
	NoiDungMoi as N'Nội dung mới'

	from NhatKyXuLyVeLuot nkvl
	Left Join Nhanvien nv on nv.MaNhanVien = nkvl.MaNhanVien
	Left join Veluot lv on nkvl.MaVeLuot = lv.MaVeLuot
	where ThoiGianXuLy between @tgTu and @tgDen
	And (@HanhDong = N'Tất cả hành động' or HanhDong = @HanhDong);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bangnhatkyvethang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[sp_bangnhatkyvethang]
	@tgTu DATETIME2 = NULL,
	@tgDen DATETIME2 = NULL
AS
BEGIN
	SET NOCOUNT ON;
	SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');
	select HanhDong as N'Hành động',
	nv.HoTen N'Nhân viên xử lý',
	ThoiGianXuLy as N'Thời gian xử lý',
	MayTinhXuLy as N'Máy tính xử lý',
	NoiDungCu as N'Nội dung cũ',
	NoiDungMoi as N'Nội dung mới'
	from NhatKyXuLyVeThang nkvt
	Left Join Nhanvien nv on nv.MaNhanVien = nkvt.MaNhanVien
	where ThoiGianXuLy between @tgTu and @tgDen;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bangnhomnhanvien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp bảng đếm số nhân viên theo nhóm
Create   procedure [dbo].[sp_bangnhomnhanvien]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT 0 As N'MaNhomNhanVien',N'Tổng cộng' AS N'Tên nhóm', SUM(SoLuongNhanVien) AS N'Số lượng nhân viên', '' AS N'Thông tin khác'
	FROM NhomNhanVien
	UNION ALL
	SELECT MaNhomNhanVien, TenNhomNhanVien, SoLuongNhanVien, ThongTinKhac
	FROM NhomNhanVien;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bangthebìn]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp bảng thẻ
Create   procedure [dbo].[sp_bangthebìn]
AS
BEGIN
	select MaThe AS N'Mã thẻ', 
	SoThuTu AS N'Số thứ tự', 
	LoaiThe as N'Loại thẻ', 
	NgayTaoThe as N'Ngày tạo thẻ', 
	NgayCapNhatThe as N'Ngày cập nhật', 
	TrangThaiThe as N'Trạng thái thẻ'
	from The
END
GO
/****** Object:  StoredProcedure [dbo].[sp_hienbangveluot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_hienbangveluot]
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    SELECT 
        ROW_NUMBER() OVER (ORDER BY vl.ThoiGianVao DESC) AS STT,
        vl.ThoiGianVao AS N'Thời gian vào',
        vl.ThoiGianRa AS N'Thời gian ra',
        vl.MayTinhXuLy AS N'Máy tính xử lý',
        nv.HoTen AS N'Nhân viên xử lý',
        vl.TongTien AS N'Tổng tiền',
        vl.MaThe AS N'Mã thẻ',
        vl.BienSo AS N'Biển số',
        vl.LoaiVe AS N'Loại vé',
        vl.TrangThai AS N'Trạng thái',
        CASE vl.CachTinhTien
            WHEN -1 THEN N'Miễn phí'
            WHEN 0 THEN N'Công văn'
            WHEN 1 THEN N'Lũy tiến'
            ELSE N'Khác'
        END AS N'Cách tính tiền',
        vl.AnhVaoPath AS N'Ảnh vào',
        vl.AnhRaPath AS N'Ảnh ra'
    FROM VeLuot vl
    LEFT JOIN NhanVien nv ON vl.MaNhanVien = nv.MaNhanVien
    WHERE vl.ThoiGianVao >= @tgTu 
	AND vl.ThoiGianVao <= @tgDen;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_nhatkydangnhap]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_nhatkydangnhap]
    @tgTu DATETIME = NULL,
	@tgDen DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

	SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    SELECT
		ROW_NUMBER() OVER (ORDER BY MaNhatKyDangNhap DESC) AS STT,
        nv.HoTen as N'Tên nhân viên',
		nv.TenDangNhap as N'Tên đăng nhập',
		nk.ThoiGianDangNhap as N'Đăng nhập',
		nk.ThoiGianDangXuat as N'Đăng xuất',
		nk.TongThoiGian as N'Tổng thời gian đăng nhập'
    FROM
        dbo.NhatKyDangNhap nk
    LEFT JOIN
        dbo.NhanVien nv ON nk.MaNhanVien = nv.MaNhanVien
    WHERE
        nk.ThoiGianDangNhap Between @tgTu and @tgDen
END
GO
/****** Object:  StoredProcedure [dbo].[sp_nhatkydieuchinh]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--procedure hiện bảng nhật ký điều chỉnh
CREATE   PROCEDURE [dbo].[sp_nhatkydieuchinh]
    @tgTu DATETIME2 = NULL,
	@tgDen DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

	SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');
    SELECT 
        ROW_NUMBER() OVER (ORDER BY nk.ThoiGianXuLy DESC) AS STT,
        GiaVeCu AS N'Giá vé cũ',
        GiaVeMoi AS N'Giá vé mới',
        nv.HoTen AS N'Nhân viên xử lý',
        nk.MayTinhXuLy AS N'Máy tính xử lý',
        nk.ThoiGianXuLy AS N'Thời gian xử lý',
        nk.MaThe AS N'Mã thẻ',
        nk.BienSo AS N'Biển số',
        nk.LoaiXe AS N'Loại xe',
        nk.LoaiVe AS N'Loại vé'
    FROM 
        NhatKyDieuChinhVeLuot nk
    LEFT JOIN 
        NhanVien nv ON nk.MaNhanVien = nv.MaNhanVien
	    WHERE
        nk.ThoiGianXuLy Between @tgTu and @tgDen
    ORDER BY 
        nk.ThoiGianXuLy DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_nhomvethang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp bảng nhóm vé tháng
CREATE   PROCEDURE [dbo].[sp_nhomvethang]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        0 AS MaNhom, 
        N'Tổng cộng' AS N'Tên nhóm', 
        COUNT(*) AS N'Số lượng xe', 
        '' AS N'Thông tin khác'
    FROM VeThang
	UNION ALL
    SELECT 
        n.MaNhom, 
        n.TenNhom AS N'Tên nhóm', 
        COUNT(*) AS N'Số lượng xe', 
        n.ThongTinKhac AS N'Thông tin khác'
    FROM Nhom n
    LEFT JOIN VeThang vt ON n.MaNhom = vt.MaNhom
    GROUP BY n.MaNhom, n.TenNhom, n.ThongTinKhac;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tongveluot]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_tongveluot]
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    SELECT 
		N'Tổng' as N'Diễn giải',
        COUNT(*) AS N'Số lượng',
        SUM(TongTien) AS N'Tổng tiền'
    FROM VeLuot
    WHERE ThoiGianVao BETWEEN @tgTu AND @tgDen;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTongQuat]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================== G. Bảng thống kê tổng quát
Create   procedure [dbo].[sp_ThongKeTongQuat] 
AS 
Begin
select * from Veluot
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTheoMayTinh]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================== F. Bảng thống kê theo máy tính
CREATE   procedure [dbo].[sp_ThongKeTheoMayTinh] 
	@LoaiVe NVARCHAR(20) = NULL,
	@LoaiXe NVARCHAR(20) = NULL,
	@tgTu DATETIME2 = NULL,
	@tgDen DATETIME2 = NULL
AS
BEGIN
	SET NOCOUNT ON;
    SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

	SELECT
		vl.MayTinhXuLy as N'Máy tính',
		lx.TenLoaiXe as N'Loại xe',
		vl.LoaiVe as N'Loại vé',
		COUNT(*) AS N'Số lượt vào',
		SUM(CASE WHEN vl.ThoiGianRa IS NOT NULL THEN 1 ELSE 0 END) AS N'Số lượt ra',
		SUM(vl.TongTien) AS N'Tổng tiền'
	FROM VeLuot vl
	LEFT JOIN LoaiXe lx ON vl.MaLoaiXe = lx.MaLoaiXe
	Where (@LoaiXe IS NULL OR lx.TenLoaiXe = @LoaiXe)
	AND (@LoaiVe IS NULL OR vl.LoaiVe = @LoaiVe)
	AND vl.ThoiGianVao Between @tgTu And @tgDen
	GROUP BY vl.MayTinhXuLy, lx.TenLoaiXe, vl.LoaiVe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTheoNhanVien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================== J. Bảng thống kê theo nhân viên
CREATE   PROCEDURE [dbo].[sp_ThongKeTheoNhanVien]
    @LoaiVe NVARCHAR(50) = N'Tất cả loại vé',
    @MaLoaiXe INT = -1,
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;
	SET @tgTu = ISNULL(@tgTu, '1900-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');
    SELECT
		ROW_NUMBER() OVER (ORDER BY nv.HoTen) AS N'STT',
        nv.HoTen AS N'Tên Nhân Viên',
        lx.TenLoaiXe AS N'Loại Xe',
        vl.LoaiVe AS N'Loại vé',
        COUNT(*) AS N'Số lượt vào',
        SUM(CASE WHEN vl.ThoiGianRa IS NOT NULL THEN 1 ELSE 0 END) AS N'Số lượt ra',
        SUM(ISNULL(vl.TongTien, 0)) AS N'Tổng tiền'
    FROM VeLuot vl
    LEFT JOIN NhanVien nv ON vl.MaNhanVien = nv.MaNhanVien
    LEFT JOIN LoaiXe lx ON vl.MaLoaiXe = lx.MaLoaiXe
    WHERE
        (@LoaiVe = N'Tất cả loại vé' OR vl.LoaiVe = @LoaiVe)
        AND (@MaLoaiXe = -1 OR vl.MaLoaiXe = @MaLoaiXe)
        AND (@tgTu IS NULL OR vl.ThoiGianVao >= @tgTu)
        AND (@tgDen IS NULL OR vl.ThoiGianVao <= @tgDen)
    GROUP BY nv.Hoten, lx.TenLoaiXe, vl.LoaiVe
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTheoThoiGian]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================== I. Thống kê theo thời gian 
CREATE   PROCEDURE [dbo].[sp_ThongKeTheoThoiGian]
    @KieuThongKe NVARCHAR(10),   -- 'ngày', 'tuan', 'thang', 'nam'
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL,
    @LoaiVe NVARCHAR(20) = N'Tất cả loại vé', -- 'Vé lượt', 'Vé tháng'
    @LoaiXe INT = -1,
    @MaNhanVien INT = -1
AS
BEGIN
    SET NOCOUNT ON;

    -- Chuẩn hoá thời gian
    SET @tgTu = ISNULL(@tgTu, '2000-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    ;WITH VeGop AS (
        -- Vé lượt: vào
        SELECT 
            ThoiGianVao AS ThoiGian, 
            1 AS IsVao, 
            ISNULL(TongTien, 0) AS TongTien, 
            MaLoaiXe, 
            MaNhanVien, 
            LoaiVe
        FROM VeLuot
        WHERE (@LoaiVe = N'Tất cả loại vé' OR LoaiVe = @LoaiVe)

        UNION ALL

        -- Vé lượt: ra
        SELECT 
            ThoiGianRa AS ThoiGian, 
            0 AS IsVao, 
            ISNULL(TongTien, 0) AS TongTien, 
            MaLoaiXe, 
            MaNhanVien, 
            LoaiVe
        FROM VeLuot
        WHERE (@LoaiVe = N'Tất cả loại vé' OR LoaiVe = @LoaiVe)

        UNION ALL

        -- Vé tháng: kích hoạt
        SELECT 
            NgayKichHoat AS ThoiGian, 
            1 AS IsVao, 
            ISNULL(GiaVe, 0) AS TongTien, 
            MaLoaiXe, 
            MaNhanVien, 
            N'Vé tháng' AS LoaiVe
        FROM VeThang
        WHERE (@LoaiVe = N'Tất cả loại vé' OR @LoaiVe = N'Vé tháng')
    ),
    VeDaLoc AS (
        SELECT 
            v.ThoiGian,
            v.IsVao,
            v.TongTien,
            v.MaLoaiXe,
            v.MaNhanVien,
            v.LoaiVe
        FROM VeGop v
        JOIN LoaiXe lx ON v.MaLoaiXe = lx.MaLoaiXe
        WHERE 
            v.ThoiGian BETWEEN @tgTu AND @tgDen
            AND (@LoaiXe = -1 OR v.MaLoaiXe = @LoaiXe)
            AND (@MaNhanVien = -1 OR v.MaNhanVien = @MaNhanVien)
    ),
    ThongKeCTE AS (
        SELECT
            CASE 
                WHEN @KieuThongKe = N'ngày'  THEN CONVERT(CHAR(10), ThoiGian, 103)
                WHEN @KieuThongKe = N'tuần'  THEN 
                    RIGHT('00' + CAST(DATEPART(WEEK, ThoiGian) AS NVARCHAR), 2) + N' /' + CAST(YEAR(ThoiGian) AS NVARCHAR)
                WHEN @KieuThongKe = N'tháng' THEN 
                    RIGHT('00' + CAST(MONTH(ThoiGian) AS NVARCHAR), 2) + N' /' + CAST(YEAR(ThoiGian) AS NVARCHAR)
                WHEN @KieuThongKe = N'năm'   THEN CAST(YEAR(ThoiGian) AS NVARCHAR)
            END AS ThoiGianGroup,

            MIN(ThoiGian) AS ThoiGianThuc,
            COUNT(CASE WHEN IsVao = 1 THEN 1 END) AS SoLuotVao,
            COUNT(CASE WHEN IsVao = 0 THEN 1 END) AS SoLuotRa,
            SUM(ISNULL(TongTien, 0)) AS TongTien
        FROM VeDaLoc
        GROUP BY 
            CASE 
                WHEN @KieuThongKe = N'ngày'  THEN CONVERT(CHAR(10), ThoiGian, 103)
                WHEN @KieuThongKe = N'tuần'  THEN 
                    RIGHT('00' + CAST(DATEPART(WEEK, ThoiGian) AS NVARCHAR), 2) + N' /' + CAST(YEAR(ThoiGian) AS NVARCHAR)
                WHEN @KieuThongKe = N'tháng' THEN 
                    RIGHT('00' + CAST(MONTH(ThoiGian) AS NVARCHAR), 2) + N' /' + CAST(YEAR(ThoiGian) AS NVARCHAR)
                WHEN @KieuThongKe = N'năm'   THEN CAST(YEAR(ThoiGian) AS NVARCHAR)
            END
    )
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ThoiGianThuc DESC) AS STT,
        ThoiGianGroup AS N'Thời gian',
        SoLuotVao AS N'Số lượt vào',
        SoLuotRa AS N'Số lượt ra',
        TongTien AS N'Tổng tiền'
    FROM ThongKeCTE
    ORDER BY ThoiGianThuc DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuRaVao]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hiện bảng tra cứu ra vào
CREATE   PROCEDURE [dbo].[sp_TraCuuRaVao]
    @LoaiTruyVan NVARCHAR(100) = N'Tất cả xe',
    @LoaiVe NVARCHAR(20) = N'Tất cả loại vé',
    @MaLoaiXe INT = -1,
    @tgTu DATETIME2 = NULL,
    @tgDen DATETIME2 = NULL,
    @SoThe NVARCHAR(50) = NULL,
    @BienSo NVARCHAR(50) = NULL,
    @MaThe NVARCHAR(50) = NULL,
    @MaNhanVienVao INT = -1,
    @MaNhanVienRa INT = -1
AS
BEGIN
    SET NOCOUNT ON;
	SET @tgTu = ISNULL(@tgTu, '2000-01-01');
    SET @tgDen = ISNULL(@tgDen, '3000-01-01');

    SELECT 
		ROW_NUMBER() OVER (ORDER BY v.MaVeLuot DESC) AS STT,
        v.MaVeLuot,
        v.MaThe AS N'Mã thẻ',
        v.BienSo AS N'Biển số',
        lx.TenLoaiXe AS N'Loại xe',
        ISNULL(vt.ChuXe, N'Vé lượt') AS N'Chủ xe',
        ISNULL(nvt.TenNhom, N'Vé lượt') AS N'Nhóm',
        v.LoaiVe AS N'Loại vé',
        v.ThoiGianVao AS N'Thời gian vào',
        v.ThoiGianRa AS N'Thời gian ra',
        v.TrangThai AS N'Trạng thái',
        nv.HoTen AS N'Nhân viên xử lý',
        v.MayTinhXuLy AS N'Máy xử lý',
        CASE v.CachTinhTien 
            WHEN 0 THEN N'Công văn' 
            WHEN 1 THEN N'Lũy tiến' 
            ELSE N'Khác' 
        END AS N'Cách tính tiền',
        ISNULL(v.TongTien, 0) AS N'Tổng tiền',
        v.AnhVaoPath AS N'Ảnh vào',
        v.AnhRaPath AS N'Ảnh ra'
    FROM VeLuot v
    LEFT JOIN VeThang vt ON v.MaVeThang = vt.MaVeThang
    LEFT JOIN Nhom nvt ON vt.MaNhom = nvt.MaNhom
    LEFT JOIN LoaiXe lx ON v.MaLoaiXe = lx.MaLoaiXe
    LEFT JOIN NhanVien nv ON v.MaNhanVien = nv.MaNhanVien
    WHERE
		v.ThoiGianVao between @tgTu and @tgDen
        AND (@LoaiTruyVan = N'Tất cả xe' OR v.TrangThai = @LoaiTruyVan)
        AND (@LoaiVe = N'Tất cả loại vé' OR v.LoaiVe = @LoaiVe)
        AND (@MaLoaiXe = -1 OR v.MaLoaiXe = @MaLoaiXe)
        AND (@SoThe IS NULL OR v.MaThe LIKE '%' + @SoThe + '%')
        AND (@BienSo IS NULL OR v.BienSo LIKE '%' + @BienSo + '%')
        AND (@MaThe IS NULL OR v.MaThe LIKE '%' + @MaThe + '%')
        AND (@MaNhanVienVao = -1 OR v.MaNhanVien = @MaNhanVienVao)
        AND (@MaNhanVienRa = -1 OR v.MaNhanVien = @MaNhanVienRa)
    ORDER BY v.ThoiGianVao DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTinhTienCongVan]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- insert và update TinhTienCongVan
CREATE   PROCEDURE [dbo].[sp_UpsertTinhTienCongVan]
    @MaLoaiXe INT,
    @ThuTienTruoc BIT,
    @DemTu TINYINT,
    @DemDen TINYINT,
    @GioGiaoNgayDem TINYINT,
    @GiaThuong INT,
    @GiaDem INT,
    @GiaNgayDem INT,
    @GiaPhuThu INT,
    @PhuThuTu TINYINT,
    @PhuThuDen TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE TinhTienCongVan AS target
    USING (
        SELECT 
            @MaLoaiXe AS MaLoaiXe,
            @ThuTienTruoc AS ThuTienTruoc,
            @DemTu AS DemTu,
            @DemDen AS DemDen,
            @GioGiaoNgayDem AS GioGiaoNgayDem,
            @GiaThuong AS GiaThuong,
            @GiaDem AS GiaDem,
            @GiaNgayDem AS GiaNgayDem,
            @GiaPhuThu AS GiaPhuThu,
            @PhuThuTu AS PhuThuTu,
            @PhuThuDen AS PhuThuDen
    ) AS source
    ON target.MaLoaiXe = source.MaLoaiXe
    WHEN MATCHED THEN 
        UPDATE SET 
            ThuTienTruoc = source.ThuTienTruoc,
            DemTu = source.DemTu,
            DemDen = source.DemDen,
            GioGiaoNgayDem = source.GioGiaoNgayDem,
            GiaThuong = source.GiaThuong,
            GiaDem = source.GiaDem,
            GiaNgayDem = source.GiaNgayDem,
            GiaPhuThu = source.GiaPhuThu,
            PhuThuTu = source.PhuThuTu,
            PhuThuDen = source.PhuThuDen
    WHEN NOT MATCHED THEN 
        INSERT (
            MaLoaiXe, ThuTienTruoc, DemTu, DemDen, GioGiaoNgayDem,
            GiaThuong, GiaDem, GiaNgayDem, GiaPhuThu, PhuThuTu, PhuThuDen
        )
        VALUES (
            source.MaLoaiXe, source.ThuTienTruoc, source.DemTu, source.DemDen, source.GioGiaoNgayDem,
            source.GiaThuong, source.GiaDem, source.GiaNgayDem, source.GiaPhuThu, source.PhuThuTu, source.PhuThuDen
        );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertTinhTienLuyTien]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- insert và update Tinh tiền luỹ tiến
CREATE   PROCEDURE [dbo].[sp_UpsertTinhTienLuyTien]
    @MaLoaiXe INT,
    @Moc1 TINYINT,
    @GiaMoc1 INT,
    @Moc2 TINYINT,
    @GiaMoc2 INT,
    @GiaVuotMoc INT,
    @ChuKy TINYINT,
    @CongMoc TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE TinhTienLuyTien AS target
    USING (SELECT 
                @MaLoaiXe AS MaLoaiXe,
                @Moc1 AS Moc1,
                @GiaMoc1 AS GiaMoc1,
                @Moc2 AS Moc2,
                @GiaMoc2 AS GiaMoc2,
                @GiaVuotMoc AS GiaVuotMoc,
                @ChuKy AS ChuKy,
                @CongMoc AS CongMoc
           ) AS source
    ON (target.MaLoaiXe = source.MaLoaiXe)
    WHEN MATCHED THEN
        UPDATE SET 
            Moc1 = source.Moc1,
            GiaMoc1 = source.GiaMoc1,
            Moc2 = source.Moc2,
            GiaMoc2 = source.GiaMoc2,
            GiaVuotMoc = source.GiaVuotMoc,
            ChuKy = source.ChuKy,
            CongMoc = source.CongMoc
    WHEN NOT MATCHED THEN
        INSERT (MaLoaiXe, Moc1, GiaMoc1, Moc2, GiaMoc2, GiaVuotMoc, ChuKy, CongMoc)
        VALUES (source.MaLoaiXe, source.Moc1, source.GiaMoc1, source.Moc2, source.GiaMoc2, source.GiaVuotMoc, source.ChuKy, source.CongMoc);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_upsertTinhTienThang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_upsertTinhTienThang]
    @MaLoaiXe INT,
    @GiaVeThang INT,
    @PhutMienPhi INT
AS
BEGIN
    MERGE TinhTienThang AS target
    USING (
        SELECT @MaLoaiXe AS MaLoaiXe, @GiaVeThang AS GiaVeThang, @PhutMienPhi AS PhutMienPhi
    ) AS source
    ON (target.MaLoaiXe = source.MaLoaiXe)
    WHEN MATCHED THEN
        UPDATE SET 
            GiaVeThang = source.GiaVeThang,
            PhutMienPhi = source.PhutMienPhi
    WHEN NOT MATCHED THEN
        INSERT (GiaVeThang, MaLoaiXe, PhutMienPhi)
        VALUES (source.GiaVeThang, source.MaLoaiXe, source.PhutMienPhi);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ve_thang]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp bảng vé tháng
CREATE   PROCEDURE [dbo].[sp_ve_thang]
	@TimKiem NVarChar(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		ROW_NUMBER() OVER (ORDER BY vt.NgayHetHan) AS STT,
        MaVeThang,
        vt.MaThe AS N'Mã thẻ',
        BienSo AS N'Biển số',
        ChuXe AS N'Chủ xe',
		nvt.TenNhom as N'Nhóm',
        lx.TenLoaiXe AS N'Loại vé',
        NgayKichHoat AS N'Ngày kích hoạt',
        NgayHetHan AS N'Ngày hết hạn',
        DienThoai AS N'Điện thoại',
        GiaVe AS N'Giá vé',
        nv.HoTen AS N'Nhân viên xử lý',
        DiaChi AS N'Địa chỉ',
        Email AS N'Email',
        NhanHieu AS N'Nhãn hiệu',
        vt.GhiChu AS N'Ghi chú',
        MayTinhXuLy AS N'Máy tính xử lý'
    FROM VeThang vt
	LEFT JOIN Nhom nvt ON vt.MaNhom = nvt.MaNhom
	LEFT JOIN Loaixe lx ON vt.MaLoaiXe = lx.MaLoaiXe
	LEFT JOIN Nhanvien nv on vt.MaNhanVien = nv.MaNhanVien
	where vt.MaThe LIKE N'%' + @TimKiem + N'%' OR @TimKiem IS NULL
	OR vt.BienSo LIKE N'%' + @TimKiem + N'%' OR @TimKiem IS NULL
	OR vt.ChuXe LIKE N'%' + @TimKiem + N'%' OR @TimKiem IS NULL
	OR vt.Email LIKE N'%' + @TimKiem + N'%' OR @TimKiem IS NULL
	;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_xulymatthe]    Script Date: 10/2/2025 9:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- procedure hiển thị table mất thẻ
create   procedure [dbo].[sp_xulymatthe]
@maveluot int = NULL
as
begin
	select vl.BienSo,
	vl.MaThe,
	lx.TenLoaiXe,
	ThoiGianVao,
	nv.HoTen,
	vl.MayTinhXuLy,
	CachTinhTien,
	vl.MaLoaiXe,
	vl.TongTien,
	vl.AnhVaoPath,
	vl.AnhRaPath,
	vl.TrangThai
	from veluot vl
	left join LoaiXe lx on lx.MaLoaiXe = vl.MaLoaiXe
	left join nhanvien nv on nv.MaNhanVien = vl.MaNhanVien
	where MaVeLuot = @maveluot
end
GO
USE [master]
GO
